
.heading-box img {
  height: 30vh;
  width: 25vw;
  border: 3px black solid;
 
}
.jumbotron {
  background-image: url("../images/circle-blues.png");
	background-size: cover;
	background-repeat: no-repeat;
}
#contact-card {
  background-color: ;
}

.text-box {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.parallax {
    height: 75vh;
}

#card-row{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#card-row .card {
  /*float: left;*/
  max-width: 33.333%;
  /* padding: .75rem; */
  margin-bottom: 2rem;
  margin-right: 1rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
}

/* .card > img {
  margin-bottom: .75rem;
} */

.card-text {
font-size: 85%;
}

#parallax-1 {
  height: 470px;
}

